<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="httpPlatformHandler" path="*" verb="*" modules="httpPlatformHandler" resourceType="Unspecified" requireAccess="Script" />
    </handlers>
    <httpPlatform processPath="C:\Program Files\nodejs\node.exe"
                  arguments="src\index.js"
                  stdoutLogEnabled="true"
                  stdoutLogFile=".\logs\node"
                  startupTimeLimit="60">
      <environmentVariables>
        <environmentVariable name="PORT" value="%HTTP_PLATFORM_PORT%" />
        <environmentVariable name="DB_SERVER" value="localhost" />
        <environmentVariable name="DB_PORT" value="1433" />
        <environmentVariable name="DB_USER" value="sa" />
        <environmentVariable name="DB_PASSWORD" value="Esa@Sql#2026!" />
        <environmentVariable name="DB_NAME" value="EsaManagement" />
      </environmentVariables>
    </httpPlatform>
  </system.webServer>
</configuration>
